.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 70px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: solid 1px navy;
    border-radius: 8px;
    pointer-events: none;
}

.home-page-choice {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    color: navy;
    padding: 30px;
}


.bfs-navbar {
    background: darkslateblue;
}

.home-page-choice-link a {
    text-decoration: none;
}

.home-page-choice-link a:hover {
    border: solid 1px crimson;
}