{{template "header.html"}}
<body>
{{ template "navbar.html"}}
<div class='container'>

<h2>In Grateful Appreciation</h2>
<p><a href="http://www.football-data.co.uk/englandm.php">Football-Data.co.uk</a>, who supplied all the soccer stats.</p>
<p>The <a href="https://www.ft.com/content/f24cc9d6-72f4-11e9-bf5c-6eeb837566c5">Financial Times</a>, from which original article I took the idea of graphing goal difference against points.</p>
<p><strong>Gavan Reilly</strong> of Virgin Media, psephologist and Renaissance man, who so kindly allowed the use of his beautiful Google Sheets in the elections section.</p>
<p><strong>BR</strong>, who christened the enterprise.</p>
</div>

</body>