<!DOCTYPE html>
{{template "header.html"}}

<body>

{{ template "navbar.html"}}

	<div class="container">
    <h2>Contact BFS</h2>

  <form action="/logContact" method="POST">

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">

      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">


      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</div>
</body>