<!DOCTYPE html>
<head>
{{template "header.html"}}

</head>
{{ template "navbar.html"}}
<body>
	<div class="container">
        <a href="/chooseSeasonTable" class='home-page-choice-link'>
<div class="home-page-choice">
English Premier League Tables
</div>
            </a>
        <a href="/chooseSeasonGraph" class='home-page-choice-link'>
<div class="home-page-choice">
English Premier League Graphs
</div>
            </a>
        <a href="/chooseSeasonTable" class='home-page-choice-link'>
<div class="home-page-choice">
English Championship Tables
</div>
            </a>
        <a href="/chooseSeasonGraph" class='home-page-choice-link'>
<div class="home-page-choice">
English Championship Graphs
</div>
            </a>

    </div>
</body>